@import '../../colors.scss';

mat-toolbar{
    //margin-bottom: 20px;
    border-bottom: 1px solid $accent;
    z-index: 200;
    position: fixed;
    top: 0px;
    width: 100%;
    outline: none;
}

#spacer{
    height: 64px;
}