@import '../../colors.scss';

mat-toolbar {
    display: block;
    border-bottom: 2px solid $accent;
    z-index: 10;
    position: fixed;
    top: 0px;
    outline: none;
    height: 50px;
}

#flex-wrap{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
}


