<mat-toolbar color="primary" >

  <!-- main links, container to make flex-end style work correctly-->
  <div id="flex-wrap">
      <div routerLink="/main" class="clean-btn" [@homeSlide]='btnState'>
        <mat-icon class="clean-btn" >home</mat-icon>
        <span>Daniel Martin</span>
      </div>
    
      <button id="menuBtn" mat-icon-button [matMenuTriggerFor]="navMenu" >
        <i class="material-icons clean-btn" >menu</i>
      </button>
  </div>
    
  <!-- dropdown nav menu -->
  <mat-menu #navMenu="matMenu">
    <button mat-menu-item routerLink="/work">
      <mat-icon class="clean-btn">code</mat-icon>
      <span>My Work</span>
    </button>
    <button mat-menu-item routerLink="/">
      <mat-icon class="clean-btn">tag_faces</mat-icon>
      <span>About Me</span>
    </button>
    <button mat-menu-item routerLink="/resume">
      <mat-icon class="clean-btn">insert_drive_file</mat-icon>
      <span>Resume</span>
    </button>
  </mat-menu>
  
</mat-toolbar>
