<div @mainAnim id="about-wrap" class="scrolling">
  <h2>A Little About Me</h2>
  <img src="../../assets/CroppedMug250.png" alt="Me!" height="250" width="250">
  <div id="about-info">
    Hi! I'm Dan and I'm a front end developer. I mainly focus on web and mobile development, 
    but I also have a lot of experience with game development and design. 
    I love learning new technologies and have been trying to 
    transition more into a full stack developer recently. 
    I am a fan of all types of media, but developing something new and 
    innovative is what really interests me. Whether that’s the next big web app, 
    a new mobile experience, or a game with unexplored mechanics, creating something 
    interesting is a goal for every project I work on.
  </div>

  <div>
    <h2>My Hobbies</h2>
    <div id="hobby-wrap">
      <div class="hobby">
        <i class="material-icons clean-btn">build</i>
        <h3>What I Like to Make</h3>
        <div>
           
        </div>
      </div>
      <div class="hobby">
        <i class="material-icons clean-btn">videogame_asset</i>
        <h3>Games and More</h3>

      </div>
      <div class="hobby">
        <i class="material-icons clean-btn">fitness_center</i>
        <h3>Staying Active</h3>

      </div>
    </div>  
    
  </div>
</div>
