@import "../../colors.scss";
@import "../../styles.scss";

#about-wrap{
    padding-bottom: 70px;
    width: 60%;
    margin: auto;
    text-align: center;

    img {
        margin-bottom: 20px;
    }

    #about-info{
        text-align: left;
        margin-bottom: 25px;
    }

    #hobby-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .hobby{
            flex-direction: row;
            min-width: 350px;
            max-width: 30%;
            margin-bottom: 25px;

            mat-icon {
                font-size: 70px;
            }

            i {
                font-size: 70px;
            }
        }
    }

    @include small550 {
        width: 100%;

        img {
            height: 175px;
            width: 175px;
            margin-bottom: 10px;
        }

        #about-info{
            padding: 20px;
        }

        #hobby-wrap{
            .hobby{
                min-width: 250px;
                padding: 10px;
            }
        }
    }
}