
<div id="work-wrap" @mainAnim>
    <mat-tab-group dynamicHeight="true">
        <mat-tab label="Professional Experience">
            <div class="tab-wrap" >
                <div 
                    *ngFor="let e of expEntries"
                    class="entry-wrap" 
                >
                    <h1>{{e.title}}</h1>
                    <h3>{{e.company}}</h3>
                    <div>{{e.date}}</div>
                    <button (click)="collapse(e)" mat-button ><i class="material-icons clean-btn" [@rotate]="e.state" >arrow_drop_down</i></button>  
                    <div class="collapser" [@collapser]="e.state">
                        {{e.content}}
                    </div>   
                </div>
            </div>
        </mat-tab>  
        <mat-tab label="Projects">
            <div class="tab-wrap" >
                <div 
                    *ngFor="let e of projEntries"
                    class="entry-wrap" 
                >
                    <h1>{{e.title}}</h1>
                    <h3>{{e.company}}</h3>
                    <div>{{e.date}}</div>
                    <button (click)="collapse(e)" mat-button ><i class="material-icons clean-btn" [@rotate]="e.state" >arrow_drop_down</i></button>  
                    <div class="collapser" [@collapser]="e.state">
                        {{e.content}}
                    </div>   
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
