@import '../../colors.scss';
@import "../../styles.scss";

#work-wrap {
    margin-bottom: 50px;
}

.tab-wrap {
    padding-top: 25px;
    color: $dark;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.entry-wrap {
    min-width: 400px;
    width: 45%;
    overflow: hidden;
    color: $dark;
    margin-bottom: 25px;

    h1 {
        font-size: 26px;
        margin: 0px;
    }

    h3{        
        font-size: 20px;
        margin: 10px 0px;
    }
    
    .link-div {
        margin: 8px 15px 0px 0px;
        height: 24px;
        display: inline-block;

        a {
            display: flex;
            vertical-align: middle;
            text-decoration: none;
            color: $dark;        
        }

        mat-icon { 
            font-size: 19px;
            width: 12px;
            transition: color .2s, transform .2s;
            transition-timing-function: ease-in-out;
        }
    }

    .link-div:hover {
        mat-icon{
            color: $accent;
            transform: translateX(5px);
        }
    }
    
    .chip-list {
        margin-top: 10px;
    }

    button {
        color: white;
        background-color: $extra;
        display: block;
        margin: auto;
        width: 50px;
        height: 30px;
        line-height: 30px;
    }

    .collapser {
        padding: 10px 0px 10px 0px;
        margin-bottom: 10px;
        border-bottom: 1px solid $dark;
        cursor: default;
    }

}

@include work {
    .tab-wrap {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@include small450 {
    .entry-wrap {
        min-width: 300px;
        padding: 8px;
        h1 {
            font-size: 20px;
            margin: 0px;
        }
    
        h3{        
            font-size: 18px;
            margin: 8px 0px;
        }
    }

}
