@import '../../colors.scss';

.tab-wrap{
    padding-top: 25px;
    width: 80%;
    margin: auto;

    
}

.myimg{
    min-width: 400px;
    height: 400px;
    background-color: white;
}

mat-expansion-panel{
    background-color: $light;
    box-shadow: none !important;
    width: 400px;
}

.collapser{

}
