
<div id="work-wrap" @mainAnim>
    <mat-tab-group dynamicHeight="true">
        <mat-tab label="Professional Experience">
            <div class="tab-wrap" >
                `This co-op had me working as an iOS developer on an NIH Grant project between RIT and the University of Rochester. 
                The goal of the project was to detect atrial fibrillation, irregular heart rhythms, through a video feed. 
                <br>
                <br>
                I worked as the iOS developer on a team including myself, a data analyst, and an android developer. 
                The end product of my time at this position was an app that on the front-end had a number of built in browser “apps” that 
                the user could browse, while in the background, videos were periodically recorded through the front facing camera. 
                These videos would have the RGB data of each frame extracted, the data sent to a firebase database, and then the video would be deleted for the user's privacy.`
            </div>
        </mat-tab>  
        <mat-tab label="Projects">
            <div class="tab-wrap">
                    `This co-op had me working as an iOS developer on an NIH Grant project between RIT and the University of Rochester. 
                The goal of the project was to detect atrial fibrillation, irregular heart rhythms, through a video feed. 
                <br>
                <br>
                I worked as the iOS developer on a team including myself, a data analyst, and an android developer. 
                The end product of my time at this position was an app that on the front-end had a number of built in browser “apps” that 
                the user could browse, while in the background, videos were periodically recorded through the front facing camera. 
                These videos would have the RGB data of each frame extracted, the data sent to a firebase database, and then the video would be deleted for the user's privacy.`
                <br>
                I worked as the iOS developer on a team including myself, a data analyst, and an android developer. 
                The end product of my time at this position was an app that on the front-end had a number of built in browser “apps” that 
                the user could browse, while in the background, videos were periodically recorded through the front facing camera. 
                These videos would have the RGB data of each frame extracted, the data sent to a firebase database, and then the video would be deleted for the user's privacy.`
                <br>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
