@import "../../colors.scss";

.material-icons{
    font-size: 200px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#link-wrap{
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 100%;
}