@import "../../colors.scss";
@import "../../styles.scss";

#main-wrap{
    height: 100%;
    display: flex;
    justify-content: center;
}

.link-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    color: $dark;

    .link {
        display: flex;
        align-items: center;
        flex-direction: column;

        i {
            margin: 10px 30px;
            font-size: 225px;
        }

        .l-text{
            font-size: 20pt;
            cursor: default;
            @extend %selectless;
        }
    }

    @include main{
        flex-direction: column;
        margin-top: 50px;
        justify-content: flex-start;
        .link{
            i {
                font-size: 200px;
                margin: 20px;
            }
        }
        
    }

}

