@import "../../colors.scss";
@import "../../styles.scss";

#res-wrap{ 
    width: 70%;
    padding-bottom: 60px;
    margin: auto;
}

.iframe-container {
    padding-top: 30px;
    overflow: hidden;

    iframe {
        border: 0;
        height: 700px;
        left: 0;
        top: 0;
        width: 100%;
    }

    a {
        margin-top: 10px;
        float: right;
        color: $dark;

        -webkit-transition: color .2s; 
        transition: color .2s;
        transition-timing-function: ease-in-out;
    }

    a:hover {
        color: $accent;
    }
}

#skills-wrap {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    color: $dark;
}

.list-wrap {
    max-width: 45%;
    min-width: 300px;
    margin-bottom: 20px;
}

#small-link {
    padding-top: 15px;
    display: none;
    align-items: center;
    font-size: 17px;

    a {
        color: $dark;
        display: flex;
        text-decoration: none;
        i {
            font-size: 18px;
        }
    }
}

@include small550 {
    #res-wrap { 
        width: 90%;
    }
    
    .iframe-container {
        display: none;
    }

    #small-link {
        display: block;
    }
}