#res-wrap{
    display: block;
    margin-bottom: 55px;
}

.iframe-container {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 70%;

    iframe{
        border: 0;
        height: 700px;
        left: 0;
        top: 0;
        width: 100%;
    }
}

#skills-wrap{
    width: 70%;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start; 
}

.list-wrap{
    max-width: 45%;
    min-width: 375px;
    margin: 20px 10px;
}