<div @mainAnim id="res-wrap" class="scrolling">
  <a href="../../assets/DanMartin_Resume.pdf" target="_blank">My Full Resume</a>
  <div class="iframe-container">
      <iframe src="../../assets/DanMartin_Resume.pdf" frameborder="0"></iframe>
  </div>
  <div id="skills-wrap">
    <div *ngFor="let cat of categories" class="list-wrap">
      <h3>{{cat.title}}</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of cat.skills" [disableRipple]="true" [selectable]="false">{{skill}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>

