// ALL COLORS USED //

// PALETTE //
$prim: #7116CC;
$dark: #470E80;
$shadow: #5A3480;
$light: #B469FF;
$extra: #8F1DFF;

$accent: #FEFF83;

// THEME VALUES //
$port-primary: (
  50: $light,
  100: $extra, 
  200: $prim,
  300: $dark,
  400: $shadow,
  500: $prim,
  600: $prim,
  700: $prim,
  800: $prim,
  900: $prim,
  A100: $prim,
  A200: $prim,
  A400: $prim,
  A700: $prim,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$port-accent: (
  50: #FEFF83,
  100: #FEFF83,
  200: #FEFF83,
  300: #FEFF83,
  400: #FEFF83,
  500: #FEFF83,
  600: #FEFF83,
  700: #FEFF83,
  800: #FEFF83,
  900: #FEFF83,
  A100: #FEFF83,
  A200: #FEFF83,
  A400: #FEFF83,
  A700: #FEFF83,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
