/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';
@import "colors.scss";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Rubik', sans-serif; 
    background-color: $light;
}


main{
    height: 90%;
}

app-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}


