/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';
@import "colors.scss";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Rubik', sans-serif; 
    background-color: $light;
}

%selectless{
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.clean-btn{
    @extend %selectless;
    cursor: pointer;
    outline:none;
}

app-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}


