/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';
@import "colors.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

html, body { height: 100%; }
body { 
    margin: 0px; 
    font-family: 'Rubik', sans-serif; 
    background-color: $light;
}

.app {
    min-height: 80%;
}


app-footer{
    height: 50px;
    width: 100%;
}



%selectless{
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.clean-btn{
    @extend %selectless;
    cursor: pointer;
    outline:none;
}